[submodule "zplug/.zplug"]
	path = zplug/.zplug
	url = https://github.com/zplug/zplug
[submodule "vale/styles/proselint"]
	path = vale/styles/proselint
	url = git@github.com:LambdaP/proselint.git
[submodule "vale/styles/write-good"]
	path = vale/styles/write-good
	url = git@github.com:LambdaP/write-good.git
