[submodule "zplug/.zplug"]
	path = zplug/.zplug
	url = https://github.com/zplug/zplug
[submodule "vale/.config/vale/write-good"]
	path = vale/.config/vale/styles/write-good
	url = git@github.com:LambdaP/write-good.git
[submodule "vale/.config/vale/proselint"]
	path = vale/.config/vale/styles/proselint
	url = git@github.com:LambdaP/proselint.git
