# Path to your configuration directories.
ZSH=$HOME/.config/oh-my-zsh

# Set name of the theme to load.
ZSH_THEME="elisa"

# Oh-my-zsh plugins.
plugins=(git brew zsh-syntax-highlight)

source $ZSH/oh-my-zsh.sh

# User configuration.
ZSH_CONFIG=$HOME/.config/zsh

# Greeting message.
ddate
echo ""
fortune -a

# Set global aliases.
alias -s c=vim
alias -s h=vim
alias -s hs=vim
alias -s exe=mono

# Set local PATHs.
source $ZSH_CONFIG/path.config

# Set local aliases.
source $ZSH_CONFIG/alias.config

# Source mac-specific commands.
source $ZSH_CONFIG/zsh_mac.config
alias pingg='ping -c 4 8.8.8.8'
