# Path to your configuration directories.
ZSH=$HOME/.config/oh-my-zsh

# Set name of the theme to load.
ZSH_THEME="elisa"

# Oh-my-zsh plugins
plugins=(git brew zsh-syntax-highlight)

source $ZSH/oh-my-zsh.sh

# User configuration
ZSH_CONFIG=$HOME/.config/zsh

# Greeting message
ddate
echo ""
fortune -a

# Set global aliases
alias -s c=vim
alias -s h=vim
alias -s hs=vim

# Set local PATHs
source $ZSH_CONFIG/path.config

# Set local aliases
source $ZSH_CONFIG/alias.config

# Required to use MacTeX with Zsh:
eval `/usr/libexec/path_helper -s`
